/// COLORS

rubberhose_blue = #0294DA
rubberhose_red = #C11432
rubberhose_yellow = #FDD10A
rubberhose_blue-accent = deepskyblue
rubberhose_red-accent = crimson
rubberhose_yellow-accent = gold
lightlightgray = #FAFAFA
lightgray = #e8e8e8
graaay = #717171 //(112, 112, 112)
