@import '_variables'

html, body
  height: 100%
  width: 100%
  margin: 0
  padding: 0
  font-family: 'Helvetica'

@import 'general'

@import 'pages/homepage'
@import 'pages/resultpage'

@import 'components/aside'
@import 'components/footer'
@import 'components/switch'
@import 'components/notifications'
